@charset "UTF-8";

.topimage {
	margin: 0 auto;
	width: 80%;
	border: double 5px white;
	object-fit: cover;
}

.image {
	margin: 0 auto;
	width: 30%;
	object-fit: cover;
}

.composite_image {
	margin: 0 auto;
	hight: 100%;
	width: 100%;
	object-fit: cover;
}

.username {
	color: blue;
	text-align: left;
	font-size: 1.7em;
}

.arart{
	color: red;
	font-weight: bold;	
}

body {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background-color: pink;
	border: 1rem solid white;
	font-family: メイリオ;
	font-weight: bold;
}

input[type="text"] {
	width: 200px;
	height: 30px;
}

input[type="password"] {
	width: 200px;
	height: 30px;
}

input[type="submit"] {
	font-size: 20px;
}

h1 {
	color: white;
	border: double 5px;
}

h2 {
	color: yellow;
	border: double 5px;
}

.box1 {
	width: 40%;
	margin: 0 auto;
	padding: 0.5em 1em;
	font-weight: bold;
	color: #6091d3; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.box2 {
	padding: 8px 19px;
	font-size: 300%;
	margin: 2em 0;
	color: #2c2c2f;
	background: #cde4ff;
	border-top: solid 5px #5989cf;
	border-bottom: solid 5px #5989cf;
}

.box3 {
	width: 80%;
	margin: 0 auto;
	padding: 0.5em 1em;
	font-weight: bold;
	color: #6091d3; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}

#cards {
	display: flex;
	justify-content: center;
}

.card {
	width: 300px;
	height: 315px;
	border: 1px solid lightgray;
}

.card:nth-child(2) {
	margin-right: 10px;
	margin-left: 10px;
}

.picture img {
	width: 100%;
	height: 200px;
}

.description {
	width: 100%;
	height: 145px;
	padding-right: 12px;
	padding-left: 12px;
	box-sizing: border-box;
}

.description p {
	font-size: 13px;
	color: dimgray;
}

.balloon1-top {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 30px;
	background: #e0edff;
}

.balloon1-top:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
	margin: 0;
	padding: 0;
}



.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: .65em 4em;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-in-out;
}
.button span {
  position: relative;
  z-index: 2;
}
.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  border: 2px solid #333;
}
.button::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #fe5f95;
  transition: .3s ease-in-out;
}
.button:hover {
  color: #fff;
}
.button:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}